<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') -%>
    <main>
      <h1>Sorry we can't display your page</h1>
      <p>
        Please tyr to open another page.
      </p>
      <p>
        Thanks in advance.
      </p>
    </main>
  </body>
</html>