<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') -%>
    <main>
      <h1>Sorry something went wrong.</h1>
      <p>
        Please tyr again later.
      </p>
    </main>
  </body>
</html>